.bg-bold-irish {
	background-color: #247f4f !important;
}

.bg-walls-of-santorini {
	background-color: #e8eef2 !important;
}

.bg-tribecca-corner {
	background-color: #31393c;
}

/* Media Queries  */
/* Extra small devices (0px and up) */
@media (min-width: 0px) {
	.sample-images {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}

	.sample-images img {
		padding: 1rem 0;
	}

	.footer-icons {
		display: flex;
		justify-content: center;
		padding: 1rem;
	}

	.copyright-text {
		color: #818a91;
		font-size: 0.8rem;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.sample-images {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.sample-images img {
		max-width: 200px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
