{% extends 'base.html' %}

{% block title %} | About{% endblock %}

{% block content %}

<div class="about py-4 bg-walls-of-santorini">
    <div class="container">
        <h2>
            The <strong>Free QR Code Generator</strong>
            for High Quality QR Codes
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora enim quos voluptas labore, cum voluptates
            fuga
            cupiditate eos sequi ipsa iste error, neque tempore vel provident quia, temporibus quo impedit?</p>

        <div class="container sample-images">
            <img src="/static/images/facebook-sample.svg" alt="Facebook QRCode Sample">
            <img src="/static/images/youtube-sample.svg" alt="YouTube QRCode Sample">
            <img src="/static/images/ninja-sample.svg" alt="Ninja QRCode Sample">
            <img src="/static/images/twitter-sample.svg" alt="Twitter QRCode Sample">
            <img src="/static/images/rain-sample.svg" alt="Rain QRCode Sample">
            <img src="/static/images/jungle-sample.svg" alt="Jungle QRCode Sample">
        </div>
    </div>

    <div class="container">
        <h2>Endless lifetime with unlimited scans</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique doloremque sint ea quis vel maxime
            officiis aut. Deleniti voluptates excepturi ullam est, deserunt quas ut sit repellendus obcaecati? Aliquid,
            recusandae!</p>
    </div>
    <div class="container">
        <h2>QR Codes with Logo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta necessitatibus assumenda fugiat tempora,
            voluptates, eveniet, corrupti eum distinctio unde reprehenderit repellat? Dolorem ea voluptate accusamus
            tempora ad sequi suscipit explicabo.</p>
    </div>
    <div class="container">
        <h2>Custom Design and Colors</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quidem voluptates perferendis sed nobis ea
            commodi quas nisi, qui velit, dicta aliquam omnis. Ipsa dolorum incidunt consequuntur dignissimos inventore
            unde.
        </p>
    </div>
    <div class="container">
        <h2>High resolution QR Codes for Print</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nisi mollitia, laboriosam magni delectus
            dignissimos deleniti incidunt? Quisquam eaque, non suscipit reiciendis molestiae, praesentium error maxime
            voluptatem rerum iusto fugit.</p>
    </div>
    <div class="container">
        <h2>QR Codes Vector Formats</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia magnam unde, reprehenderit debitis minus
            dolorem nostrum, possimus, vitae perspiciatis ad deserunt obcaecati maiores iste officiis ex excepturi
            architecto sapiente eos!</p>
    </div>
    <div class="container">
        <h2>Free for commercial usage</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea voluptate accusantium nisi animi, voluptatem
            fuga voluptatum in tempore veniam obcaecati.</p>
    </div>
</div>
{% endblock %}