{% extends 'base.html' %}

{% block content %}
<div id="home" class="container bg-walls-of-santorini rounded my-5 shadow">
    <div class="row">
        <div class="col-sm-12 col-md-7 p-4">
            <form class="qr-code-form">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {{ field.label(class_="mt-4 text-body-secondary fw-bold") }}
                    {{ field(class_="form-control mt-2 list-unstyled text-secondary") }}
                    {% for error in field.errors %}
                    <small class="text-danger">{{ error }}</span>
                        {% endfor %}
                </div>
                {% endfor %}
            </form>
        </div>

        <div class="col-sm-12 col-md-5 bg-white rounded-end">
            <div class="row">
                <div class="col-sm-12 py-4">
                    <img style="min-width: 100px;" class="img-fluid qrcode-img" src="/static/images/default-image.png"
                        alt="QR Code">
                </div>
                <div class="col-sm-12 pb-4">
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-primary bg-hill-lands rounded-0 border-0 py-2 create-qr-btn"
                            type="button">Create
                            QR
                            Code</button>

                        <button class="btn btn-primary bg-kul-sharif-blue rounded-0 border-0 py-2 download-qr-btn"
                            type="button">Download
                            QR Code</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="container-fluid py-4 bg-walls-of-santorini">
    <div class="container">

        <div class="row text-center">
            <div class="col-12">
                <h4 class="text-uppercase fw-bold" style="color: #888888;">About</h4>
            </div>
            <div class="col-12">
                <h5 class="fs-3">
                    The <strong>Free QR Code Generator</strong>
                    for High Quality QR Codes
                </h5>
            </div>
            <div class="col-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora enim
                    quos
                    voluptas labore, cum
                    voluptates
                    fuga
                    cupiditate eos sequi ipsa iste error, neque tempore vel provident quia, temporibus quo impedit?
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-12 col-md-4 col-lg-2">
                <img style="min-width: 100px;" class="shadow-sm m-2 img-fluid" src="/static/images/facebook-sample.svg"
                    alt="Facebook QRCode Sample">
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <img style="min-width: 100px;" class="shadow-sm m-2 img-fluid" src="/static/images/youtube-sample.svg"
                    alt="YouTube QRCode Sample">
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <img style="min-width: 100px;" class="shadow-sm m-2 img-fluid" src="/static/images/ninja-sample.svg"
                    alt="Ninja QRCode Sample">
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <img style="min-width: 100px;" class="shadow-sm m-2 img-fluid" src="/static/images/twitter-sample.svg"
                    alt="Twitter QRCode Sample">
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <img style="min-width: 100px;" class="shadow-sm m-2 img-fluid" src="/static/images/rain-sample.svg"
                    alt="Rain QRCode Sample">
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <img style="min-width: 100px;" class="shadow-sm m-2 img-fluid" src="/static/images/jungle-sample.svg"
                    alt="Jungle QRCode Sample">
            </div>
        </div>


        <div class="row my-4">
            <div class="col-12 col-md-6">
                <h4>Endless lifetime with unlimited scans</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique doloremque sint ea quis vel
                    maxime
                    officiis aut. Deleniti voluptates excepturi ullam est, deserunt quas ut sit repellendus
                    obcaecati?
                    Aliquid,
                    recusandae!</p>
            </div>
            <div class="col-12 col-md-6">
                <h4>QR Codes with Logo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta necessitatibus assumenda fugiat
                    tempora,
                    voluptates, eveniet, corrupti eum distinctio unde reprehenderit repellat? Dolorem ea voluptate
                    accusamus
                    tempora ad sequi suscipit explicabo.</p>
            </div>
            <div class="col-12 col-md-6">
                <h4>Custom Design and Colors</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quidem voluptates perferendis sed
                    nobis
                    ea
                    commodi quas nisi, qui velit, dicta aliquam omnis. Ipsa dolorum incidunt consequuntur
                    dignissimos
                    inventore
                    unde.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <h4>High resolution QR Codes for Print</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nisi mollitia, laboriosam magni
                    delectus
                    dignissimos deleniti incidunt? Quisquam eaque, non suscipit reiciendis molestiae, praesentium
                    error
                    maxime
                    voluptatem rerum iusto fugit.</p>
            </div>
            <div class="col-12 col-md-6">
                <h4>QR Codes Vector Formats</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia magnam unde, reprehenderit
                    debitis
                    minus
                    dolorem nostrum, possimus, vitae perspiciatis ad deserunt obcaecati maiores iste officiis ex
                    excepturi
                    architecto sapiente eos!</p>
            </div>
            <div class="col-12 col-md-6">
                <h4>Free for commercial usage</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea voluptate accusantium nisi animi,
                    voluptatem
                    fuga voluptatum in tempore veniam obcaecati.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}