{% extends 'base.html' %} {% block title %} | Home{% endblock %} {% block
content %}
<div class="container home">
  <section class="mt-4">
    <form action="/generate-qr-code" method="post">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
      <div class="form-group">
        {{ field.label(class_="mt-4") }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <small class="text-danger">{{ error }}</span>
          {% endfor %}
      </div>
      {% endfor %}

      <button class="btn btn-primary" type="submit">Generate my QRCode</button>
    </form>
  </section>
</div>
{% endblock %}