{% extends 'base.html' %}

{% block content %}
<div id="login" class="container bg-walls-of-santorini rounded py-4 my-5">
    <h2>Welcome back</h2>
    <form action="/login" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control mt-4") }}
        {% endfor %}

        <button type="submit" class="btn btn-primary mt-4">Login</button>
    </form>
</div>
{% endblock %}