{% extends 'base.html' %}

{% block content %}
<div id="qrcode" class="container bg-walls-of-santorini rounded p-4 my-5 shadow">
    <h2>Your QRCodes</h2>
    <p>Total: {{ qr_codes|length }}</p>
    <div class="list-group list-group-numbered mt-4">
        {% for qr_code in qr_codes %}
        <div class="row">
            <div class="col-sm-9">
                <a href="{{ qr_code.url }}" target="_blank" class="list-group-item list-group-item-action">{{
                    qr_code.url
                    }}</a>
            </div>
            <div class="col-sm-3 row">
                <div class="col">
                    <form action="/user/qrcode/{{qr_code.qr_code_id}}/delete" method="POST">
                        <button class="btn btn-danger w-100">Delete</button>
                    </form>
                </div>
                <div class="col">
                    <a class="btn btn-primary w-100" href="/user/qrcode/{{qr_code.qr_code_id}}/update"
                        role="button">Update</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}